<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: #454d55">
    <div class="container" >
    <div class="row center-block">
        <div class="center-block">
            <h1 class="">List</h1>
        </div>

    </div>
        <div class="row">
            <div class="col-2">
                <p>siteBar</p>
            </div>
            <div class="col">
                <table class="table  table-hover table-dark">
                      <thead>
                        <tr>
                                <th scope="col">#</th>
                                <th scope="col">City</th>
                                <th scope="col">DateTime</th>
                                <th scope="col">tempC</th>
                                <th scope="col">Humidity</th>
                                <th scope="col">Wind_speed</th>
                        </tr>
                      </thead>
                    <tbody>
                        {% for oneCity in allweather %}
                            <tr>
                                <td>{{ oneCity.pk }}</td>
                                <td>{{ oneCity.name }}</td>
                                <td>{{ oneCity.datatime_cr  }}</td>
                                <td>{{ oneCity.tempC}}</td>
                                <td>{{ oneCity.humidity}}%</td>
                                <td>{{ oneCity.wind_speed}} m/s</td>
                            </tr>
                        {% endfor %}

                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>
</body>
</html>